*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color:white;
    max-width: 350px;
    border-radius: 15px;
}

.card-header{
    overflow: hidden;
    width:100%;
    border-radius: 15px 15px 0 0;
}

.card-body{
    display: flex;
    flex-direction:column;
   align-items: center;
}

.card-title{
    margin: 0;
    margin-top: 2rem;
    color:hsl(229, 23%, 23%);
    font-size:1.8rem;
}

.title-description{
    margin-top: 10px;
    font-size: 1.5rem;
    color: hsl(0, 0%, 59%);
    margin-bottom: 2rem;
}

.spam{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.some-person{
    width:105px;
    border-radius:50%;
    margin-top: -60px;
    border: 5px solid white;
    background-color: white;
}

.card-footer{
    display: flex;
    justify-content:space-around;
    border-top: 1px solid hsl(227, 10%, 90%);
    padding-top:3rem;
    padding-bottom:2rem;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info h2{
    font-size: 2rem;
    color: hsl(229, 23%, 23%);
}

.card-info p{
    letter-spacing: 1px;
    color: hsl(0, 0%, 59%);
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 5px;
}

@media (max-width: 375px) {
    
    .card{
        max-width: 325px;
    }

    .card-info h2{
        font-size: 1.8rem;
    }

}